@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">B & B's Film Collection</h1>
    <h3 class="display-6">The Best Selection of Films from a Variety of Genre</h3>
    <img src="~/bike.png" />
    <p id="Summary">
        Brandy Stephens & Brandon Stephens, an uncle & nephew tandem, showcase a hand-selected group of films & actors any movie watcher should be familiar with!
    </p>
</div>
